$primary: #7854e4 !default;
$secondary: #9980fa !default;
$success: #3e8d63 !default;
$info: #dc3545 !default;
$warning: #b8c924 !default;
$danger: #d62518 !default;
$light: #f8f9fa !default;
$dark: #343a40 !default;
$accent: #da6d25 !default;
